 
.btnDownload {
    background-color: #cf2e2e;
    border: none;
    color: white;
    padding: 5px 13px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
}

/* Darker background on mouse-over */
.btnDownload:hover {
  background-color: #149063;
  border: none;
  border-radius: 5px;
}
 