<h1 class="h3 mb-2 text-gray-800">Add Prescription</h1>
<p class="mb-4"></p>
<form [formGroup]="prescriptionForm" class="form" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-xl-12">
      <div class="card mb-4">
        <div class="card-header">Prescription Details</div>
        <div class="card-body">
          <div class="form-row">
            <div class="form-group col-md-8">
              <div class="form-group">
                <label class="small mb-1" for="inputUsername">Customer Name</label>
                <input type="text" class="form-control" id=customerName placeholder="" formControlName="customerName">
                <div *ngIf="f.customerName.invalid && (f.customerName.dirty || f.customerName.touched)" class="alert alert-danger">
                  <div *ngIf="f.customerName.errors.required">
                    Customer Name is required.
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="small mb-1" for="inputUsername">Mobile</label>
                <input type="text" class="form-control" id=mobile placeholder="" formControlName="mobile">
                <div *ngIf="f.mobile.invalid && (f.mobile.dirty || f.mobile.touched)" class="alert alert-danger">
                  <div *ngIf="f.mobile.errors.required">
                    Mobile is required.
                  </div>
                </div>
              </div>
              <!-- Form Row-->
              <div class="form-row">
                <div class="form-group col-md-12">
                  <label class="small mb-1" for="inputFirstName">Address</label>
                  <input type="text" class="form-control" id=address placeholder="" formControlName="address">
                  <div *ngIf="f.address.invalid && (f.address.dirty || f.address.touched)" class="alert alert-danger">
                    <div *ngIf="f.address.errors.required">
                      Address is required.
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <label class="small mb-1" for="inputLastName">Notes</label>
                  <input type="text" class="form-control" id=note placeholder="" formControlName="note">
                  <div *ngIf="f.note.invalid && (f.note.dirty || f.note.touched)" class="alert alert-danger">
                    <div *ngIf="f.note.errors.required">
                      Notes is required.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group col-md-4 text-center">
              <app-imageupload formControlName="imagePath"></app-imageupload>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-lg-12">
              <label for="Item Status">Status</label>
              <div class="custom-control custom-switch custom-switch-md">
                <input type="checkbox" class="custom-control-input" checked id="statusID" formControlName="statusID">
                <label class="custom-control-label" for="statusID"></label>
              </div>
            </div>
          </div>
          <!-- Save changes button-->
          <button class="btn btn-primary" type="submit">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</form>
